/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS GERAIS */
body {
    background-color: #1A7FBD;
    font-family: "Noto Sans", sans-serif;
    width: 100%;    
}

.container {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
    padding: 0 20px;
}

.gradient {
    background: linear-gradient(to right, #1A7FBD, #6CBFF2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* ***** CABEÇALHO ***** */

header {
    padding: 20px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
}

.logo {
    width: 175px;
    height: 35px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 51px;
}

.menu li a {
    text-decoration: none; 
    color: #FFF; 
    font-size: 16px; 
    font-weight: 500; 
    transition: color 0.3s ease;
}
    
.menu li a:hover {
    color: #CECECE;
}

.btn {
    background-color: #000; 
    width: 159px; 
    height: 43px; 
    color: #FFF; 
    border: none; 
    border-radius: 6px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: 700; 
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #161616;
}

.linha {
    display: block; 
    width: 100%; 
}

/* ***** MAIN ***** */

main {
    padding: 20px 0;    
}

/* *** SEÇÃO FORMULÁRIO *** */

#section-formulario {
    padding: 40px 20px;
    margin-bottom: 20px; 
    padding: 90px 0; /* Preenchimento */
    background-image: url(/image/bannertopo.png); /* Imagem de fundo */
    background-position: right -198% top -150px; /* Posição da imagem de fundo */
    background-repeat: no-repeat; /* Não repetir a imagem de fundo */
}

.content-formulario {
    display: flex; /* Container flexível */
    justify-content: flex-end; /* Justificar conteúdo para flex-end */
}

#formulario {
    width: 35%; /* Largura */
    margin-top: -55px; /* Margem superior */
    margin-bottom: 50px;
}

.formulario-form {
    width: 405px; /* Largura */
    height: 729px; /* Altura */
    background-color: #FFF; /* Cor de fundo */
    border: solid 1px #58C5E6; /* Borda */
    border-radius: 12px; /* Raio da borda */
}

.formulario-form h2 {
    font-size: 20px;
    font-weight: 700;
    color: #CECECE;
    margin: 32px 14px auto 39px;
}

.content-form {
    width: 356px;
    height: 173px;
    margin: 14px 24px 32px 25px;
}

.content-form h3 {
    font-size: 14px;
    font-weight: 700;
    color: #1A7FBD;
    margin-left: 14px;
    margin-bottom: 16px;
}

/* CUSTOMIZAÇÃO DOS INPUTS (NOME, E-MAIL) */

.input-with-icon {
    position: relative;
}

.input-with-icon input {
    width: 356px; /* Largura */
    height: 40px; /* Altura */
    border-radius: 6px; /* Raio da borda */
    border: solid 1px #CECECE; /* Borda */
    margin-top: 10px;
}

.input-with-icon input[type="text"] {
    padding-left: 30px; /* Espaço para a imagem */
}

.input-with-icon label {
    position: absolute;
    left: 25px; /* Posição da label dentro do input */
    top: 60%;
    transform: translateY(-50%);
    background: #fff;
    padding: 0 5px;
    font-size: 14px;
}

.input-with-icon label span {
    color: #1A7FBD;
}

.input-with-icon img {
    position: absolute;
    left: 5px; /* Posição da imagem */
    top: 60%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}

/* CUSTOMIZAÇÃO DO SELECT (ESTADO) */

.custom-select {
    position: relative;
    display: inline-block;
    width: 200px; /* Ajuste conforme necessário */
}

.custom-select select {
    color: #1A7FBD;
    width: 356px;
    height: 40px; /* Altura */
    border-radius: 6px; /* Raio da borda */
    border: solid 1px #CECECE; /* Borda */
    margin-top: 10px;
}

option {
    color: #000;
}

.custom-select img {
    position: absolute;
    left: 5px;
    top: 60%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}

.custom-select label {
    position: absolute;
    left: 30px; /* Espaço para a imagem */
    top: 60%;
    transform: translateY(-50%);
    font-size: 14px;
}

.custom-select label span {
    color: #1A7FBD;
}

/* CUSTOMIZAÇÃO DOS CHECHBOXS (TECNOLOGIAS) */

.content-checkbox {
    width: 405px;
    height: 170px;
    background-color: #1A7FBD;
}

.form-control {
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    margin-left: 6px;
}

  input[type="checkbox"] {
    appearance: none;
    background-color: #1A7FBD;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 15px;
    height: 15px;
    border: 1px solid #FFF;
    border-radius: 4px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 9px;
    height: 9px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #FFF;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  .form-control + .form-control {
    margin-top: 1em;
  }


.form-checkbox {
    width: 358px;
    height: 118px;
    padding: 20px 22px 20px 22px;   
}

.form-checkbox h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #FFF;
}

.group-checkbox {
    display: flex;
    align-items: first baseline;
    font-size: 14px;
    font-weight: 500;
    color: #FFF;
    margin-left: 5px;
}

/* CUSTOMIZAÇÃO DO RADIO (EXPERIÊNCIA) */

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #1A7FBD;
    background-color: transparent;
    border-radius: 4px; /* Bordas arredondadas */
    outline: none;
    cursor: pointer;
    position: relative; /* Adicione position: relative para posicionar o marcador interno */
}

input[type="radio"]::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background-color: transparent;
    border: 1px solid #1A7FBD; /* Cor do quadrado interno */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease; /* Transição suave */
    opacity: 0; /* Esconde o quadrado interno por padrão */
}

input[type="radio"]:checked::before {
    opacity: 1; /* Mostra o quadrado interno quando marcado */
    background-color: #1A7FBD; /* Cor do quadrado interno quando marcado */
}


.content-radius {
    margin: 32px auto 15px 39px;
}

.form-radius h3 {
    font-size: 14px;
    font-weight: 700;
    color: #1A7FBD;
}

.radius-op {
    display: inline-block;
    margin-right: 25px; /* Adicione um espaço entre os radios, se desejar */
}
.form-radius input {
    margin-top: 16px;
}

.form-radius label {
    font-size: 14px;
    font-weight: 500;
    color: #A0A0A0;
}

.form-obs {
    margin: 0 24px 0 24px;
}

.form-obs p {
    font-size: 10px;
    font-weight: 600;
    color: #1A7FBD;
    margin-top: 10px;
    margin-left: 110px;
}

.btn-submit {
    margin: 25px 25px 10px 25px;
}

.btn-submit button {
    width: 356px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background-color: #1A7FBD;
    border-radius: 6px;
    border: solid 1px #1A7FBD;
}

.form-rules {
    width: 272px;
    height: 24px;
    margin-left: 65px;
}

.form-rules p {
    font-size: 10px;
    font-weight: 500;
    color: #9A9A9A;
    text-align: center;
}

.form-rules p span {
   color: #1A7FBD;
}


/* *** SEÇÃO PROJETO *** */

#section-projeto {
    height: 558px;
}

#projeto {
    display: flex;
    align-items: center;
}

.dev {
    width: 515px;
    height: 461px;
    margin-right: 55px;    
}

.text-area {
    margin-left: 20px;
}

.text-area h1 {
    font-size: 40px;
    font-weight: 700;
    color: #A4DCFF;
    margin-bottom: 20px;
}

.text-area p {
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 15px;
}

.text-area span {
    font-size: 16px;
    font-weight: 600;
    color: #FFF; 
}

/* *** SEÇÃO PROBLEMA *** */

#section-problema {
    padding: 40px 20px;   
    background-color: #FFF;
}

.img-area,
.content-text {
    display: inline-block;
    vertical-align: top;
}

.img-area {
    width: 50%; /* Defina a largura conforme necessário */
    margin-right: 70px; /* Adiciona um espaço entre a imagem e o texto */
}

.content-text {
    width: 40%; /* Defina a largura conforme necessário */
    margin-top: 130px; /* Adiciona um espaço extra acima do texto */
}

.senior {
    max-width: 100%; /* Garantir que a imagem não ultrapasse o contêiner */
    height: auto; /* Permitir que a altura seja ajustada automaticamente */
}

.text {
    margin-bottom: 25px;
}


.sub-text {
    margin-top: 25px;
}

.text h1{
    font-size: 40px;
    font-weight: 700;
    
    margin-bottom: 20px;
}

.text p {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.sub-text p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.sub-text span {
    font-size: 16px;
    font-weight: 600;
}

.box {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.box div {
    padding: 35px;
    margin-left: 5px;
    width: 327px;
    height: 228px;
    border: solid 1px #E8E8E8;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}

.box div h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.box div p {
    font-size: 16px;
    font-weight: 500;
}

.box-1 {
    background-image: url(/image/elements/1.svg);
    background-repeat: no-repeat;
    background-position: center calc(0% + 20px);
}

.box-2 {
    background-image: url(/image/elements/2.svg);
    background-repeat: no-repeat;
    background-position: center calc(0% + 20px);
}

.box-3 {
    background-image: url(/image/elements/3.svg);
    background-repeat: no-repeat;
    background-position: center calc(0% + 20px);
}

/* *** SEÇÃO JORNADA *** */

#section-jornada {
    padding: 40px 20px;
    margin-bottom: 20px;
    background-color: #FFF;
}

.titulo {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    
}

.titulo h1{
    font-size: 40px;
    font-weight: 700;
    color: #1A7FBD;
    margin-left: 10px;
    margin-right: 10px;
}

.box-smaller {    
    width: 992px;
    height: 170px;
}

.group-box {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.group-box .smaller {
    width: 320px;
    height: 77px;
    background-color: #1A7FBD;
    border: solid 1px #E8E8E8;
    border-radius: 12px;
    margin: 10px;
}

.smaller div {
    width: 51px;
    height: 51px;
    background-color: #FFF;
    margin: 12px 6px 12px 12px;
    border-radius: 8px;
}

.smaller div img {
    width: 25px;
    height: 25px;
    margin: 12px;
}

.smaller {
    display: flex;
    align-items: center;
}

.smaller p {
    flex: 1; /* Isso faz com que o parágrafo ocupe o espaço restante */
    font-size: 16px;
    font-weight: 500;
    margin: 12px;
}

.btn-large {
    margin: 115px 0 18px 250px;
}

.btn-large button {
    width: 459px;
    height: 70px;
    border-radius: 12px;
    background-color: #000;
    border: none;   
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;   
    padding: 10px 20px;
   
}

.btn-large button p {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}
.btn-large button span {
    color: #1A7FBD;
    margin-right: 5px;
}

.btn-large button img {
    width: 24px;
    height: 24px;
}

.brush {
    margin: auto 0 162px 370px;
}

/* *** SEÇÃO OBJETIVOS *** */
#section-objetivos {
    padding: 40px 20px;
    margin-bottom: 20px;
}

#objetivos h1 {
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 50px;
    text-align: center;
}

.box-obj {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.box-obj div {
    padding: 35px;
    margin-left: 5px;
    width: 327px;
    height: 228px;
    border: solid 1px #75C4F5;
    border-radius: 12px;
    background-color: #FFF;
    text-align: center;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}

.box-obj div h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.box-obj div p {
    font-size: 16px;
    font-weight: 500;

}

/* ***** FOOTER ***** */

footer {
    background-color: #000;
    color: #FFF;
    padding: 60px 20px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}

.logo-slogan img {
    width: 187px;
    height: 57px;
    margin-bottom: 15px;
    margin-right: 80px;
}

.social-icons img {
    margin-right: 15px;
    margin-bottom: 20px;
}

.copyright p {
    font-size: 9px;
    font-weight: 500;
    color: #B9B9B9;
}


.btn-invertido {
    background-color: #FFF; 
    width: 159px; 
    height: 43px; 
    color: #000; 
    border: none; 
    border-radius: 6px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: 700; 
    transition: background-color 0.3s ease;
    
}

.column-3 ul {
    list-style: none; /* Remove os marcadores de lista */
}

.column-3 ul li a {
    text-decoration: none; /* Remove a decoração de texto */
    border-bottom: none; /* Remove a linha tracejada */
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.btn-invertido:hover {
    background-color: #f0e9e9;
}

.column-3 ul li,
 .column-5 p {
    margin-bottom: 15px; /* Altere o valor conforme necessário */
}